*{
  box-sizing: border-box;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    border: 3px solid rgba(60,60,57,0.87);
    width: 300px;
    padding: 6px;
    border-radius: 0.5em;
}
img {
    border: 3px solid rgba(60,60,57,0.87);
    margin: 0 auto;
    width: 300px;
    border-radius: 0.5em;
}

.card{
  width: 320px;
  padding: 10px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
  border: 1px solid rgba(60,60,57,0.87);
}
.information {
    margin-top: 0.8em;
    padding: 0 1em;
    border-radius: 0.5em;
    border: 3px solid rgba(60,60,57,0.87);
}
ul {
    list-style-type: none;
}
